body {
    background-color: #000000;
    color: white;
    font-family: "Lora", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #8e12a7;
    color: rgb(83, 77, 77);
    font-family: "Lora", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}